label {
    color: #4169E1; 
    margin-bottom: 0.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;
  }
  
  form input,
  textarea {
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(65, 105, 225, 0.1); 
    border-color: rgba(65, 105, 225, 0.1); 
    color: #ffffff; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  form input:focus,
  textarea:focus {
    background-color: rgba(65, 105, 225, 0.3); 
    border-color: rgba(65, 105, 225, 0.3); 
    outline: none;
  }
  
  textarea {
    resize: vertical;
  }
  
  form input::placeholder,
  textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  form input[type="submit"] {
    background-color: #4169E1; 
    color: #ffffff; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form input[type="submit"]:hover {
    background-color: #3551a7; 
  }
  